h1{
    color: rgb(7, 7, 57);
    font-size: 70px;
   }
p{
    color: rgb(0, 0, 0);
    font-style: italic; 
   }
header{   
   text-align: center;
   background-color: rgb(222, 138, 255);
   padding-top: 15px;
   padding-bottom: 15px;
}
body{
   background-color: rgb(255, 255, 255);
   margin-left: 5%;
   margin-right: 5%;
} 
.image1{
    max-width: 100%;
    text-align: center;
    margin: auto;
}

li{
   list-style-type: none;
}
     
     
 